<h2>Please Login</h2>
<!--form to login -->
<form action="" id="login">
    <input type="text" name="loginEmail" id="loginEmail" placeholder="loginEmail">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="loginPassword">
    <button>Login</button>
</form>
<hr>
<h2>Signup</h2>
<!--form to signup -->
<form action="" id="signup">
    <input type="text" name="createEmail" id="signupEmail" placeholder="createEmail">
    <input type="text" name="signupName" id="signupName" placeholder="Name">
    <input type="password" name="createPassword" id="signupPassword" placeholder="createPassword">
    <button>Signup</button>
</form>

<script src="/js/login.js"></script>